<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body class="{% block body_class %}{% endblock %}">
<section>{% block header %}Welcome to Xray Twig Inspector{% endblock %}</section>
<section>{% block content %}{% endblock %}</section>
<section>{% block footer %}@copyright 2018{% endblock %}</section>
<section style="position: fixed; right: 0; bottom: 0; font-size: x-large;">
    <a href="javascript:;" id="twig-debug-enable">Enable</a>
    <a href="javascript:;" id="twig-debug-discover" style="display: none;">Discover</a>
    <input type="color" id="twig-debug-color" value="#ff0000">
</section>
{% include 'client.css.twig' %}
<script>{% include 'client.js.twig' %}</script>
</body>
</html>
