<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
<section>{% block header %}Welcome to Xray Twig Inspector{% endblock %}</section>
<section>{% block content %}{% endblock %}</section>
<section>{% block footer %}@copyright 2018{% endblock %}</section>
<style>{% include 'client.css.twig' %}</style>
<script>{% include 'client.js.twig' %}</script>
</body>
</html>
