{% extends 'base.html.twig' %}

{% import "macro.html.twig" as macro %}

{% block body_class %}index{% endblock %}

{% block content %}
    {{ macro.greeting('Xray!') }}

    More content...

    {{ include('inc.html.twig') }}

    <div>outer</div>
{% endblock %}

